
__pycache__/exceptions.cpython-311.pyc
__pycache__/load_common.cpython-311.pyc
__pycache__/post_common.cpython-311.pyc
files/MY/err_data_MALAYSIA 2022-2023 Jul-Jun LOCAT20240117_174934.csv
files/MY/err_data_MALAYSIA 2022-2023 Jul-Jun LOCAT20240117_175511.csv
files/MY/err_data_MALAYSIA 2022-2023 Jul-Jun LOCAT20240117_180810.csv
files/MY/err_data_MALAYSIA 2022-2023 Jul-Jun LOCAT20240117_181156.csv
files/MY/err_data_MALAYSIA 2022-2023 Jul-Jun LOCAT20240117_181529.csv
files/MY/err_data_MALAYSIA 2022-2023 Jul-Jun LOCAT20240117_181737.csv
files/MY/err_data_MALAYSIA 2022-2023 Jul-Jun LOCAT20240118_081844.csv
files/MY/err_data_MALAYSIA 2022-2023 Jul-Jun LOCAT20240118_090159.csv
files/MY/err_data_MALAYSIA 2022-2023 Jul-Jun LOCAT20240118_090715.csv
my_log.log
utils/__pycache__/db_util.cpython-311.pyc
files/MY/~$MALAYSIA 2022-2023 Jul-Jun LOCAT.xlsx
utils/__pycache__/db_util.cpython-311.pyc
files/MY/MALAYSIA 2022-2023 Jul-Jun LOCAT.xlsx
files/MY/MALAYSIA 2022-2023 Jul-Jun LOCAT.xlsx
files/backup/MY/20240118103623_MY HSBC 11.08.2023.xlsx
files/MY/MALAYSIA 2022-2023 Jul-Jun LOCAT.xlsx
files/MY/~$MY HSBC 11.08.2023.xlsx
utils/__pycache__/db_util.cpython-311.pyc
local_log.log
utils/__pycache__/logger.cpython-311.pyc
utils/__pycache__/db_util.cpython-311.pyc
*.CSV
*.xlsx
*.CSV
tool/testsql.sql
tool/testsql.sql
*.xlsx
*.xls
*.log
*.pyc
*.pyc
*.xlsx
*.xlsx
*.xlsx
*.xlsx
*.zip
*.pyc
/log
/files
utils/__pycache__/db_util.cpython-311.pyc
utils/__pycache__/db_util.cpython-311.pyc
/utils/__pycache__
/utils/__pycache__
/utils/__pycache__
/.cursor
/ifpenv/Lib
/ifpenv
.env
