APScheduler==3.11.0
fastapi==0.116.1
Flask==2.3.2
ibm_cos_sdk_core==2.14.3
pandas==1.5.3
numpy==1.23.5
# psycopg2==2.9.9
psycopg2_binary==2.9.10
# pydantic==1.9.0
pydantic==2.9.2
python_dateutil==2.9.0.post0
PyYAML==6.0.2
Requests==2.32.4
SQLAlchemy==1.4.46
# uvicorn==0.35.0
uvicorn[standard]==0.32.1
###
openpyxl==3.1.5
xlrd==2.0.2
fuzzywuzzy==0.18.0
ibm-cos-sdk==2.14.3
# sendgrid==6.12.4
paramiko==3.5.1
# ecdsa==0.19.1